* {
  background: #1D2021E6;
  background-alt: #282828E6;

  foreground: #D4BE98;
  urgent: #EA6962E6;
  active-window: #A9B665E6;
  borderColor: #56595A;
}

/*
* {
  background: #16161DE6;
  background-alt: #1F1F28E6;
  foreground: #DCD7BA;
  urgent: #DCA561E6;
  active-window: #76946AE6;

  borderColor: #DCD7BA99;
}
*/
