@import "kanagawa.css";

* {
  font-family: "SF Pro", FontAwesome, Roboto, Helvetica, Arial;
  font-size: 1rem;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar > box {
  padding: 5px 0;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 10px;
}

button:hover {
  background: inherit;
  border: none;
}

/* Workspaces styles */
#workspaces {
  margin-right: 5px;
  color: #FFF;
}

#workspaces button {
  font-weight:600;
  border-radius: 7px;
  border: 2px solid rgba(0,0,0,0);
  padding: 0 5px;
  color: inherit;
  background-color: transparent;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  border-color: #FFF;
}

#workspaces button.urgent {
  border-bottom: 2px solid @orange;
  border-radius: 0;
}

#workspaces button.urgent:nth-child(1) {
  border-bottom: 2px solid @orange;
  border-radius: 10px 0 0 10px;
}

#workspaces button.urgent:nth-last-child(1) {
  border-bottom: 2px solid @orange;
  border-radius: 0 10px 10px 0;
}

/* Hardware group styles */

#hardware {
  margin-right: 5px;
}

#cpu {
  padding-right: 5px;
}

#memory {
  padding-left: 5px;
}

/* Audio module styles */
#pulseaudio {
    margin-right: 10px;
}

#pulseaudio.output {
    margin-right:10px;
}

#pulseaudio.output.muted {
  color: @red;
}
#pulseaudio.input.source-muted {
  color: @red;
}

/* Privacy */
#privacy {
  background-color: @background;
  color: @power;
  border: 1.5px solid @power;
  padding: 6px 10px;
  border-radius: 10px;
  margin-right: 10px;
}

/* Language */

#language {
  margin-right: 5px;
}

/* Time group styles */
#time {
  font-weight: 600;
}

#clock {
  font-weight: 400;
  padding: 6px 5px;
}

#battery {
  margin-right: 5px;
}

/* Tray */

#tray {
  margin-right: 5px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* Default module styles */
#battery,
#temperature,
#network,
#hardware,
#window,
#tray,
#language {
  color: #FFF;
  padding: 6px 10px;
  border-radius: 10px;
}

.modules-right {
  padding: 0 10px;
}

.modules-left {
  padding: 0 10px;
}

label:focus {
  background-color: #000;
}
